body {
  background-color: #6E4555;
}

.t{
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
}

.sctgs {
    border: 3px black solid;
    width: 195px;
    height: 125px;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .tarjetas {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 60px;
  }

  .sctgs:hover {
    transform: translate(0, 7px);
    box-shadow: 10px 15px 19px #350417;
    transition: all 250ms;
  }
